.contacts
    &__subtitle
        margin-bottom: 30px
    &__button
        cursor: pointer
        text-transform: capitalize
        color: #FFFFFF
        background-color: #070707
        border-radius: 30px
        padding: 12px 30px
        width: fit-content
        margin: auto
        transition-duration: .3s
        margin-bottom: 90px
        &:hover
            background-color: #F6F6F6
            color: #070707
    &__list
        display: flex
        justify-content: center
        align-items: center
        gap: 60px
