@import '../../styles/vars.sass'

.home
    &__box
        display: flex
        justify-content: space-between
        align-items: end
        margin-bottom: 30px
    &__item
        &_name
            font-size: 47px
            line-height: 59px
        &_work
            font-family: 'Gilroy-Medium'
            font-size: 18px
            line-height: 22px
        &_special
            margin-bottom: auto
            margin-top: auto
            transform: rotate(-90deg)
            display: flex
            gap: 5px
            align-items: center
    &__lang
        color: $not-active
        cursor: pointer
        transition-duration: .3s
        &:hover
            color: $black
    &__img
        margin-bottom: 104px
        display: flex
        align-items: center
        justify-content: center
        &_photo
            height: 480px

._active
    color: $black

@media (max-width: $small-desktop-width)
    .home
        &__img
            &_photo
                width: 100%

@media (max-width: $tablet-width)
    .home
        &__box
            flex-direction: column
            align-items: start
            gap: 10px
        &__item
            &_special
                margin: 150px 0
                font-size: 34px
                transform: rotate(0deg)
                width: fit-content
        &__img
            &_photo
                height: 280px

@media (max-width: $mobile-width)
    .home
        padding: 65px 25px
        &__img
            &_photo
                height: fit-content
                max-height: 350px
